.formationOfUse,
.image29Icon {
  position: relative;
  flex-shrink: 0;
}
.formationOfUse {
  font-weight: 600;
  display: inline-block;
  width: 267px;
}
.image29Icon {
  width: 14.77px;
  height: 24px;
  object-fit: cover;
}
.formationOfUseParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.iFeelLike {
  margin-block-start: 0;
  margin-block-end: 0;
}
.europeLedBy {
  margin: 0;
}
.description {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.descriptionWrapper,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameWrapper {
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.div,
.timeGained {
  position: relative;
  font-weight: 600;
}
.timeGained {
  display: inline-block;
  width: 221px;
  flex-shrink: 0;
}
.div {
  color: var(--color-cornflowerblue-300);
  text-align: right;
}
.frameParent,
.timeGainedParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
}
.frameParent {
  position: absolute;
  top: -290px;
  left: 37px;
  flex-direction: column;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-400);
  font-family: var(--heading-h2);
}
