.image30Icon {
  position: absolute;
  height: 100%;
  width: 12.13%;
  top: -100%;
  right: 87.87%;
  bottom: 100%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.textPlaceholder {
  border: 0;
  background-color: transparent;
  font-family: var(--heading-h2);
  font-size: var(--font-size-xl);
  position: absolute;
  height: 52%;
  width: 84.1%;
  top: 62.5%;
  left: 15.9%;
  line-height: 150%;
  color: var(--color-gray-1700);
  text-align: left;
  display: none;
}
.vectorIcon {
  position: absolute;
  height: 34.67%;
  width: 4.21%;
  top: -58.83%;
  right: 25.1%;
  bottom: 124.16%;
  left: 70.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group481543default {
  position: absolute;
  top: 66px;
  left: 16px;
  width: 453px;
  height: 66px;
}
