.image32Icon {
  position: relative;
  border-radius: var(--br-sm) 0 0 0;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  object-fit: cover;
}
.image32Parent {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
