@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.timefeedLowResolutionLogoBIcon {
  position: relative;
  width: 272px;
  height: 74px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
}
.darkModeIcon,
.frameChild {
  position: relative;
  flex-shrink: 0;
}
.frameChild {
  border: 0;
  font-family: var(--heading-h2);
  font-size: var(--font-size-xl);
  background-color: transparent;
  width: 337px;
  height: 56px;
}
.darkModeIcon {
  border-radius: var(--br-3xl);
  width: 89px;
  height: 59px;
  overflow: hidden;
  cursor: pointer;
}
.earn,
.explore {
  position: relative;
  font-weight: 600;
}
.earn {
  cursor: pointer;
}
.menus {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.accountBalanceWalletBlack2Icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.timefeedLowResolutionLogoBParent {
  width: 1351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  background-color: var(--color-gray-700);
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl) var(--padding-3xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer,
.navbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.navbarWrapper {
  position: absolute;
  top: 146px;
  left: 0;
  align-items: flex-start;
}
.frameContainer {
  align-items: center;
}
.image29Icon,
.image49Icon {
  position: absolute;
  top: 0;
  object-fit: cover;
}
.image49Icon {
  left: 0.57px;
  border-radius: var(--br-3xs);
  width: 301.71px;
  height: 330px;
}
.image29Icon {
  height: 115.38%;
  width: 115.38%;
  right: -15.38%;
  bottom: -15.38%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile,
.profile1,
.profile2,
.profile3,
.profile4 {
  position: relative;
  border-radius: var(--br-4xl);
  background-color: var(--color-gray-700);
  border: 2px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
}
.profile1,
.profile2,
.profile3,
.profile4 {
  z-index: 1;
  margin-left: -12px;
}
.profile2,
.profile3,
.profile4 {
  z-index: 2;
}
.profile3,
.profile4 {
  z-index: 3;
}
.profile4 {
  z-index: 4;
}
.verified2Icon {
  position: absolute;
  margin: 0 !important;
  height: 55.56%;
  width: 13.89%;
  top: 63.89%;
  right: -1.77%;
  bottom: -19.44%;
  left: 87.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 5;
}
.profileParent {
  position: absolute;
  top: 310px;
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupChild,
.groupChild:hover {
  box-sizing: border-box;
  backdrop-filter: blur(32px);
}
.groupChild {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-dimgray-300);
  border: 1px solid var(--color-white);
  width: 48px;
  height: 48px;
  mix-blend-mode: lighten;
  appearance: none;
}
.groupChild:hover {
  background-color: var(--color-tomato);
  border: 1px solid var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.vuesaxboldheartIcon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
}
.auctionsChild,
.rectangleParent {
  position: absolute;
  top: 12px;
  left: 242px;
  width: 48px;
  height: 48px;
}
.auctionsChild {
  cursor: pointer;
  top: 72px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-1100);
  backdrop-filter: blur(32px);
  appearance: none;
}
.auctionsChild:checked {
  background-color: var(--color-gray-2000);
  border: 1px solid var(--color-gray-1900);
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(32px);
  appearance: none;
}
.groupItem,
.vuesaxlinearheartSlashIcon {
  position: absolute;
  top: 84px;
  left: 254px;
  width: 24px;
  height: 24px;
}
.groupItem {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  width: 124px;
  height: 48px;
  object-fit: cover;
}
.iconlyboldgraph {
  position: absolute;
  height: 88.89%;
  width: 24.04%;
  top: 0;
  right: 74.83%;
  bottom: 11.11%;
  left: 1.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path33909Icon,
.vuesaxlinearunlimitedIcon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
}
.path33909Icon {
  height: 63.18%;
  width: 17.59%;
  top: 18.3%;
  right: 82.4%;
  bottom: 18.52%;
  left: 0.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  top: 3px;
  left: 25px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 22px;
  font-weight: 500;
  font-family: var(--heading-h2);
  color: var(--color-gray-700);
  text-align: left;
}
.iconlyboldgraphParent {
  position: absolute;
  height: 56.25%;
  width: 77.42%;
  top: 22.92%;
  right: 14.52%;
  bottom: 20.83%;
  left: 8.06%;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 12px;
  left: 10px;
  width: 124px;
  height: 48px;
}
.formationOfUse,
.image29Icon5 {
  position: relative;
  flex-shrink: 0;
}
.formationOfUse {
  font-weight: 600;
  display: inline-block;
  width: 267px;
}
.image29Icon5 {
  width: 14.77px;
  height: 24px;
  object-fit: cover;
}
.iFeelLike {
  margin-block-start: 0;
  margin-block-end: 0;
}
.europeLedBy {
  margin: 0;
}
.description {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
}
.frameParent1,
.frameParent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.frameParent1 {
  position: absolute;
  top: 374px;
  left: 12px;
  gap: var(--gap-3xl);
  font-size: var(--font-size-3xl);
}
.div1,
.timeGained {
  position: absolute;
  top: 463px;
  font-weight: 600;
}
.timeGained {
  left: 30px;
  display: inline-block;
  width: 221px;
}
.div1 {
  left: 251px;
  color: var(--color-cornflowerblue-100);
  text-align: right;
}
.auctions {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-700);
  box-shadow: 0 8px 12px rgba(30, 30, 30, 0.04);
  width: 318px;
  height: 500px;
  flex-shrink: 0;
  overflow: hidden;
}
.auctionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv,
.frameGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameDiv {
  width: 1283px;
  align-items: flex-start;
}
.frameGroup {
  position: absolute;
  top: 8px;
  left: 60px;
  align-items: center;
  gap: var(--gap-xl);
}
.image56Icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm) 0 0 0;
  width: 302px;
  height: 330px;
  object-fit: cover;
}
.usercardChild {
  position: absolute;
  height: 7.27%;
  width: 7.64%;
  top: 6.97%;
  right: 84.71%;
  bottom: 85.76%;
  left: 7.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.usercardInner,
.usercardItem {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-1400);
  position: absolute;
  top: 309px;
  left: 133px;
  border-radius: var(--br-xl);
  backdrop-filter: blur(20px);
  width: 48px;
  height: 124px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.usercardInner {
  top: 59px;
  left: 139px;
}
.iconlyboldgraph1 {
  position: absolute;
  height: 88.89%;
  width: 23.55%;
  top: 0;
  right: 75.34%;
  bottom: 11.11%;
  left: 1.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.follow {
  position: absolute;
  top: 3px;
  left: 30px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 22px;
  font-weight: 500;
  font-family: var(--heading-h2);
  color: var(--color-gray-700);
  text-align: left;
}
.iconlyboldgraphGroup {
  position: absolute;
  height: 56.25%;
  width: 79.03%;
  top: 22.92%;
  right: 12.9%;
  bottom: 20.83%;
  left: 8.06%;
}
.rectangleContainer {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 261px;
  left: 9px;
  width: 124px;
  height: 48px;
}
.rectangleContainer:hover {
  animation: 1s ease 0s infinite normal none scale-up;
  opacity: 1;
}
.iconlyboldgraph2 {
  position: absolute;
  height: 88.89%;
  width: 27.16%;
  top: 0;
  right: 71.57%;
  bottom: 11.11%;
  left: 1.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconlyboldgraphContainer {
  position: absolute;
  height: 56.25%;
  width: 68.55%;
  top: 22.92%;
  right: 23.39%;
  bottom: 20.83%;
  left: 8.06%;
}
.groupButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 11px;
  left: 15px;
  width: 124px;
  height: 48px;
}
.vuesaxlinearuserSquareIcon {
  position: absolute;
  height: 96%;
  width: 25.26%;
  top: 0;
  right: 74.74%;
  bottom: 4%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile5 {
  position: absolute;
  top: 3px;
  left: 29px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.01em;
  line-height: 22px;
  font-weight: 500;
  font-family: var(--heading-h2);
  color: var(--color-gray-700);
  text-align: left;
}
.vuesaxlinearuserSquareParent {
  position: absolute;
  height: 52.08%;
  width: 76.61%;
  top: 22.92%;
  right: 14.52%;
  bottom: 25%;
  left: 8.87%;
}
.rectangleParent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 262px;
  left: 154px;
  width: 124px;
  height: 48px;
}
.usercard,
.vuesaxlinearpeopleIcon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 24px;
  height: 24px;
}
.usercard {
  top: 8px;
  left: 8px;
  border-radius: var(--br-xs);
  width: 302px;
  height: 330px;
  background-image: url(../public/Assets/auctions1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.verified2Icon1 {
  position: absolute;
  bottom: 217px;
  left: 282px;
  width: 36px;
  height: 44px;
  object-fit: cover;
}
.alexRodriguesAlexir {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 296px;
  flex-shrink: 0;
}
.followers20kCla {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: var(--font-size-xl);
}
.description1 {
  position: relative;
  line-height: 16px;
  font-weight: 500;
  white-space: pre-wrap;
}
.frameParent3,
.profileGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frameParent3 {
  position: absolute;
  top: 374px;
  left: 12px;
  flex-direction: column;
  gap: var(--gap-3xl);
}
.mutualFollowers {
  position: absolute;
  top: 529px;
  left: 193px;
  font-weight: 600;
  font-family: var(--font-roboto);
  display: inline-block;
  width: 178px;
  height: 57px;
}
.auctions2 {
  position: absolute;
  top: 665px;
  left: 53px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-700);
  box-shadow: 0 8px 12px rgba(30, 30, 30, 0.04);
  width: 318px;
  height: 577px;
  overflow: hidden;
  font-size: var(--font-size-3xl);
}
.desktop1Child,
.vuesaxlineararrowRightIcon {
  position: absolute;
  top: 24px;
  left: 298px;
  width: 24px;
  height: 24px;
}
.desktop1Child {
  top: 1269px;
  left: 0;
  background-color: rgba(225, 225, 225, 0.04);
  width: 1440px;
  height: 60px;
}
.new,
.trending {
  position: absolute;
  top: 1257px;
  left: 407px;
  display: none;
}
.trending {
  top: 1220px;
  left: 192px;
}
.image55Icon,
.related {
  position: absolute;
  top: 1269px;
  left: 3px;
}
.image55Icon {
  top: 0;
  left: 0;
  width: 337px;
  height: 337px;
  object-fit: cover;
}
.image55Wrapper {
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkblue-100);
  width: 274px;
  height: 322px;
  overflow: hidden;
}
.image51Icon,
.image51Wrapper {
  border-radius: var(--br-3xs);
  width: 102px;
  height: 102px;
}
.image51Icon {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.image51Wrapper {
  position: relative;
  background-color: var(--color-darkblue-100);
  flex-shrink: 0;
  overflow: hidden;
}
.frameParent5 {
  position: absolute;
  top: 8px;
  left: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.image29Icon11 {
  position: absolute;
  height: 115.38%;
  width: 115.38%;
  top: -5.77%;
  right: -7.69%;
  bottom: -9.61%;
  left: -7.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.profile11 {
  position: relative;
  border-radius: var(--br-4xl);
  background-color: var(--color-gray-700);
  border: 2px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 0;
}
.verified2Icon3 {
  position: absolute;
  margin: 0 !important;
  height: 46.59%;
  width: 56.16%;
  top: 64.31%;
  right: -13.11%;
  bottom: -10.9%;
  left: 56.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.frameParent6,
.profileContainer {
  position: absolute;
  top: 342px;
  left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frameParent6 {
  top: 347px;
  left: 70px;
  align-items: flex-start;
  gap: var(--gap-13xs);
}
.vuesaxboldheartIcon1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.favorit,
.like {
  position: absolute;
}
.like {
  top: 344px;
  left: 309px;
  border-radius: var(--br-4xl);
  background-color: var(--color-gray-500);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--grey-600);
}
.favorit {
  top: 1325px;
  left: 491px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-700);
  box-shadow: 0 8px 12px rgba(30, 30, 30, 0.04);
  width: 470px;
  height: 335px;
  overflow: hidden;
}
.favorit1,
.image54Icon {
  position: absolute;
  left: 0;
}
.favorit1 {
  top: 1323px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-700);
  box-shadow: 0 8px 12px rgba(30, 30, 30, 0.04);
  width: 471px;
  height: 335px;
  overflow: hidden;
}
.image54Icon {
  top: 0;
  width: 315px;
  height: 323px;
  object-fit: cover;
}
.image51Icon4,
.image52Icon2,
.image55Icon1 {
  position: absolute;
  top: 0;
  left: 329px;
  border-radius: var(--br-3xs);
  width: 96px;
  height: 103px;
  object-fit: cover;
}
.image51Icon4,
.image52Icon2 {
  top: 110px;
  height: 102px;
}
.image51Icon4 {
  top: 220px;
  height: 103px;
}
.desktop1Item,
.image54Parent {
  position: absolute;
  top: 1328px;
  left: 1007px;
  width: 425px;
  height: 323px;
}
.desktop1Item {
  top: 219px;
  left: 506px;
  border-radius: var(--br-3xs);
  background-color: rgba(51, 51, 51, 0.2);
  width: 701px;
  height: 891px;
}
.desktop1Inner {
  position: absolute;
  top: 207px;
  left: 545px;
  width: 152px;
  height: 76px;
}
.image29Icon13 {
  position: relative;
  width: 46.15px;
  height: 46.15px;
  flex-shrink: 0;
  object-fit: cover;
}
.alexRodrigues {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.inputleftaddon,
.textPlaceholder {
  position: relative;
  line-height: 150%;
}
.inputleftaddon {
  white-space: pre-wrap;
}
.textPlaceholder {
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 352px;
  flex-shrink: 0;
}
.image29Parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.vectorIcon {
  position: relative;
  width: 20px;
  height: 17.8px;
  flex-shrink: 0;
}
.vuesaxlinearheartSlashIcon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vuesaxlinearheartSlash {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-700);
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.vuesaxlinearheartSlash:active,
.vuesaxlinearheartSlash:hover {
  background-color: var(--color-dimgray-400);
}
.vuesaxlinearheartSlash:active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frameParent9,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frameParent9 {
  position: absolute;
  top: 104px;
  left: 412px;
  width: 795px;
  height: 75px;
  align-items: flex-start;
  gap: var(--gap-7xl);
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.textPlaceholder1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 281px;
  flex-shrink: 0;
}
.textPlaceholderWrapper {
  position: absolute;
  height: 78%;
  width: 58.54%;
  top: 10.83%;
  right: 10%;
  bottom: 11.17%;
  left: 31.46%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.inputleftaddon1 {
  position: relative;
  line-height: 150%;
}
.image41Parent,
.property1defaultInner {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.image41Parent {
  height: 100%;
  width: 25.66%;
  top: 0;
  right: 74.76%;
  bottom: 0;
  left: -0.42%;
  align-items: flex-start;
  gap: var(--gap-11xs);
  color: var(--color-darkslategray-100);
}
.property1defaultInner {
  height: 52%;
  width: 12.08%;
  top: 23.83%;
  right: 0;
  bottom: 24.17%;
  left: 87.92%;
  align-items: center;
}
.property1default {
  position: absolute;
  top: 20px;
  left: 32px;
  width: 480px;
  height: 46.15px;
  color: var(--color-gray-1500);
}
.image41Group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.textPlaceholder2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 200px;
}
.textPlaceholderContainer {
  position: relative;
  width: 200px;
  height: 18px;
  flex-shrink: 0;
  color: var(--color-gray-1500);
}
.frameParent10 {
  position: absolute;
  height: 100%;
  width: 76.7%;
  top: -0.33%;
  right: 23.61%;
  bottom: 0.33%;
  left: -0.31%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.property1variant2 {
  position: absolute;
  top: 86.15px;
  left: 32px;
  width: 480px;
  height: 46.15px;
}
.textPlaceholder3 {
  position: relative;
  line-height: 150%;
  color: var(--color-gray-1500);
  display: inline-block;
  width: 196px;
  flex-shrink: 0;
}
.frameParent11,
.property1variant3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameParent11 {
  gap: var(--gap-2xl);
}
.property1variant3 {
  position: absolute;
  top: 152.31px;
  left: 32px;
  padding: 0 var(--padding-5xl);
}
.textPlaceholder4 {
  position: relative;
  line-height: 150%;
  color: var(--color-gray-1500);
  display: inline-block;
  width: 101px;
  flex-shrink: 0;
}
.property1variant4 {
  position: absolute;
  top: 218.46px;
  left: 32px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-6xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.textPlaceholder5 {
  position: relative;
  line-height: 150%;
  color: var(--color-gray-1500);
  display: inline-block;
  width: 191px;
  flex-shrink: 0;
}
.property1variant5 {
  position: absolute;
  top: 284.62px;
  left: 32px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
}
.textPlaceholder6 {
  position: relative;
  line-height: 150%;
  color: var(--color-gray-1500);
  display: inline-block;
  width: 178px;
  flex-shrink: 0;
}
.frameParent14 {
  position: absolute;
  height: 100%;
  width: 72.12%;
  top: -3.83%;
  right: 28.2%;
  bottom: 3.83%;
  left: -0.31%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.verified1Icon {
  position: absolute;
  height: 52%;
  width: 5%;
  top: 74.17%;
  right: 88.96%;
  bottom: -26.17%;
  left: 6.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.property1variant6 {
  position: absolute;
  top: 350.77px;
  left: 32px;
  width: 480px;
  height: 46.15px;
}
.textPlaceholder7 {
  position: relative;
  line-height: 150%;
  color: var(--color-gray-1500);
  display: inline-block;
  width: 186px;
  flex-shrink: 0;
}
.property1variant7 {
  top: 416.92px;
  left: 32px;
  padding: 0 var(--padding-5xl);
}
.frameParent16,
.property1variant7,
.property1variant8Inner {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frameParent16 {
  height: 100%;
  width: 55.45%;
  top: 0;
  right: 44.55%;
  bottom: 0;
  left: 0;
  gap: var(--gap-2xl);
}
.property1variant8Inner {
  height: 52%;
  width: 12.08%;
  top: 67.17%;
  right: 0;
  bottom: -19.17%;
  left: 87.92%;
}
.property1variant8,
.verified1Icon1 {
  position: absolute;
  top: 483.08px;
  left: 32px;
  width: 480px;
  height: 46.15px;
}
.verified1Icon1 {
  height: 52%;
  width: 5%;
  top: 68.83%;
  right: 88.96%;
  bottom: -20.83%;
  left: 6.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.property1variant9 {
  position: absolute;
  top: 549.23px;
  left: 32px;
  width: 480px;
  height: 46.15px;
}
.property1variant10,
.property1variant11,
.property1variant12 {
  position: absolute;
  top: 615.38px;
  left: 32px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.property1variant11,
.property1variant12 {
  top: 681.54px;
  padding: 0 var(--padding-6xl);
}
.property1variant12 {
  top: 747.69px;
  padding: 0 var(--padding-5xl);
}
.component19,
.property1variant13 {
  position: absolute;
  top: 813.85px;
  left: 32px;
  width: 480px;
  height: 46.15px;
}
.component19 {
  top: 219px;
  left: 519px;
  border-radius: var(--br-4xs);
  width: 643px;
  height: 891px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.viewMore {
  position: absolute;
  top: 1098px;
  left: 785px;
  line-height: 150%;
  display: inline-block;
  width: 110px;
  height: 25px;
}
.image56Icon2 {
  position: absolute;
  top: 101px;
  left: 412px;
  border-radius: var(--br-sm) 0 0 0;
  width: 46px;
  height: 49px;
  object-fit: cover;
}
.image30Icon,
.verified1Icon2 {
  position: absolute;
  height: 1.45%;
  width: 1.67%;
  top: 8.14%;
  right: 67.36%;
  bottom: 90.41%;
  left: 30.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image30Icon {
  height: 100%;
  width: 12.13%;
  top: -100%;
  right: 87.87%;
  bottom: 100%;
  left: 0;
}
.textPlaceholder14 {
  border: 0;
  font-family: var(--heading-h2);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  height: 52%;
  width: 84.1%;
  top: 62.5%;
  left: 15.9%;
  line-height: 150%;
  color: var(--color-gray-1500);
  text-align: left;
  display: inline-block;
}
.vectorIcon11 {
  position: absolute;
  height: 34.67%;
  width: 4.21%;
  top: -58.83%;
  right: 25.1%;
  bottom: 124.16%;
  left: 70.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group481543default {
  position: absolute;
  top: 1217px;
  left: 644px;
  width: 449px;
  height: 66px;
}
.groupChild2,
.rectangleButton {
  position: absolute;
  top: 0;
  mix-blend-mode: normal;
}
.groupChild2 {
  left: -4px;
  width: 162px;
  height: 48px;
  object-fit: cover;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-darkslategray-300);
  left: 167px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 154px;
  height: 40px;
}
.rectangleButton:hover {
  background-color: var(--color-gray-1300);
}
.rectangleButton:active {
  background-color: var(--color-gray-1200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.buyTime,
.div4 {
  position: absolute;
  top: 14px;
  left: 60px;
  line-height: 150%;
  display: inline-block;
  width: 142px;
  height: 31px;
}
.buyTime {
  left: 202px;
}
.tetherUsdt,
.vuesaxlineartetherUsdt1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 344px;
  height: 45px;
}
.vuesaxlineartetherUsdt1 {
  top: -23px;
  left: -64px;
}
.vuesaxlineartetherUsdt {
  position: absolute;
  top: 33px;
  left: 130px;
  width: 24px;
  height: 24px;
  font-size: var(--font-size-base);
}
.desktop1,
.vuesaxlineartetherUsdtIcon {
  position: absolute;
  top: 23.6px;
  left: 80.26px;
  width: 296.74px;
  height: 33.4px;
}
.desktop1 {
  top: 292px;
  left: -1px;
  background-color: var(--color-gray-700);
  width: 1440px;
  height: 1658px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.frameParent,
.frameWrapper,
.viewPostChild,
.viewPostInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1804px;
}
.frameWrapper,
.viewPostChild,
.viewPostInner {
  top: -146px;
}
.viewPostChild,
.viewPostInner {
  top: 0;
  height: 1658px;
}
.viewPostChild {
  height: 1.47%;
  width: 4.03%;
  top: 31.47%;
  right: 25.14%;
  bottom: 67.06%;
  left: 70.83%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.viewPost {
  position: relative;
  width: 100%;
  height: 1635px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-cornflowerblue-100);
  font-family: var(--heading-h2);
}
